## 1. 3의 배수의 합 구하기

In [1]:
i = 0
total_while = 0
total_for = 0

while i < 1000:
    if (i+1) % 3 == 0:
        total_while += (i+1)
    i += 1
    
print(total_while)

for i in range(0, 1000):
    if (i+1) % 3 == 0:
        total_for += (i+1)
        
print(total_for)

166833
166833

## 2. 별 찍기

In [2]:
i = int(input()) # i는 짝수
for n in range(i):
    if n <= i/2:
        # print(' '*(int(i/2)-n) + '*'*(2*n-1))
        print(' '*(i-n) + '*'*(2*n-1))
    else:
        # print(' '*(n-int(i/2)) + '*'*(2*(i-n)-1))
        print(' '*(n) + '*'*(2*(i-n)-1))

12

           *
          ***
         *****
        *******
       *********
      ***********
       *********
        *******
         *****
          ***
           *

## 3. A 학급의 평균 점수 구하기

In [3]:
marks = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
avg = 0
for v in marks:
    avg += v
    
avg /= len(marks)
print(avg)

79.0

## 4. 리스트 내포

In [4]:
numbers = [1, 2, 3, 4, 5]
result = [n*2 for n in numbers if n % 2 == 1]
print(result)

[2, 6, 10]

## 5. 리스트 내포_2

In [5]:
nums = [1, 2, 3, 4, 5]
result = [n ** 2 for n in nums]
print(result)

[1, 4, 9, 16, 25]

## 6. 리스트 내포_3

In [6]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even = [n for n in nums if n % 2 == 0]
odd = [n for n in nums if n % 2 == 1]

print(even)
print(odd)

[2, 4, 6, 8, 10]
[1, 3, 5, 7, 9]

## 7. range()

In [7]:
sequence = [n for n in range(10)]
print(sequence)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

## 8. max

In [8]:
i = 0
inputs = [int(input()) for n in range(3)]
   
print('max: {}'.format(max(inputs)))

9
100
1
max: 100

In [11]:
a = int(input("input number1: "))
b = int(input("input number2: "))
c = int(input("input number3: "))

if (a > b and a > c):
    print("a:" + str(a))
elif (b > a and b > c):
    print("b:" + str(b))
else:
    print("c:" + str(c))

input number1: 100
input number2: 0
input number3: 1
a:100