In [1]:
print("Hello world!")

Hello world!

In [2]:
a = 123
b = -345.0
c = 5

print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'int'>

In [3]:
a = 5
b = 2
print(a * b)
print(a ** b)
print(a % b)
print(a // b)

10
25
1
2

In [4]:
kimchi = "My favorite food is kimchi."
py = 'I\'m happy because of python~~~~~~~~~~~~~'
print(py)

I'm happy because of python~~~~~~~~~~~~~

In [5]:
a = "Python"
b = " is very easy."
a + b

'Python is very easy.'

In [6]:
a = "=" * 50
a

'=================================================='

In [7]:
b = "My Program"
print(a + '\n' + b + '\n' + a)

==================================================
My Program
==================================================

In [8]:
# 문자열 인덱싱

In [9]:
a = "Python is very easy."
a[0]

'P'

In [10]:
a[7]

'i'

In [11]:
b = a[10] + a[11] + a[12] + a[14]
b

'ver '

In [12]:
b = a[10:15]
b

'very '

In [13]:
b = a[10:]
b

'very easy.'

In [14]:
a = "Pithon"

In [15]:
a[:1] + "y" + a[2:] # 문자열의 일부 요소를 바꿀 수 없음

'Python'

In [16]:
number = 2
banana = "I eat %d banana." % number

In [17]:
banana

'I eat 2 banana.'

In [18]:
number = 12
day = "two"

"I ate %d banana %s day" % (number, day)

'I ate 12 banana two day'

In [19]:
"aksdfsdf a %s" % 3.2

'aksdfsdf a 3.2'

In [20]:
"Error is %d%%." % 0

'Error is 0%.'

In [21]:
"%10s" % "apple" # 숫자 -> 여백

'     apple'

In [22]:
"%-10s" % "apple"

'apple     '

In [23]:
"I eat {} banana {}".format(100, "yesterday")

'I eat 100 banana yesterday'

In [24]:
"I {} banana {} dw".format(number, day)

'I 12 banana two dw'

In [25]:
"{0:<10}".format("hi") # 왼쪽 정렬

'hi        '

In [26]:
"{0:>10}".format("hi") # 오른쪽 정렬

'        hi'

In [27]:
"{0:^10}".format("hi") # 가운데 정렬

'    hi    '

In [28]:
# f를 사용한 문자열 포매팅

In [29]:
number = 12
day = "two"
f"I ate {number} banana {day} days"

'I ate 12 banana two days'

In [30]:
# 문자열 함수

In [31]:
a = "apple"
a.count('p')

2

In [32]:
a.find('p')

1

In [33]:
",".join('abcd')

'a,b,c,d'

In [34]:
a = "hi"
a.upper()

'HI'

In [35]:
a.lower() # 사용자 계정

'hi'

In [36]:
a.rstrip()

'hi'

In [37]:
b = " How are you? "

In [38]:
b.strip()

'How are you?'

In [39]:
a = "Pithon"
b = a.replace("i", "y")
b

'Python'

In [40]:
b = "How are you?"

In [41]:
b.split()

['How', 'are', 'you?']

In [42]:
b[:]

'How are you?'

In [43]:
data = [1, 2, 3, 4, 5]
data[0]

1

In [44]:
c = ['bift', 'dasidfkd']
d = [1, 2, 3, 'dkfdjf', [23, 'sddf']]

In [45]:
data[0] + data[4]

6

In [46]:
a = [1, 2, 3]
a.insert(3, 4)
a.insert(1, 8)
a

[1, 8, 2, 3, 4]

In [47]:
a = [1, 2, 3, 1, 2, 3]
a.remove(3) # 요소 하나만 삭제
a

[1, 2, 1, 2, 3]

In [48]:
a = [1, 2 ,3]
b = a.pop()
print(a)
print(b)

[1, 2]
3

In [49]:
a.count(1)

1

In [50]:
# Tuple(튜플)
# 요소 값이 변하지 않아야 할 때 사용
# (1, 2, 3)

In [51]:
t1 = (1, 2, 3)
t2 = (1, 2, 3, ('a', 'b'))

In [52]:
dic = {'name': 'pey', 'phone':'01022223343'}

In [53]:
dic

{'name': 'pey', 'phone': '01022223343'}

In [54]:
b = dic['phone']
b

'01022223343'

In [55]:
a = {1:'a', 2:'b', 'name':3, 'list':[1, 2, 3, 4]}
print(a.get(1))
print(a.get('name'))
print(a.get(10))
print(a.get(10, 0))

a
3
None
0

In [56]:
'asdf' in a

False

In [57]:
b = [1, 2, 3, 4, 5]
3 in b

True

In [58]:
a = set("hello")
print(a)

{'o', 'e', 'h', 'l'}

In [59]:
t = tuple(a)

In [60]:
t[0]

'o'

In [61]:
a = set([1, 2, 3, 4])
b = set([3, 4, 5, 6])
print(a & b) # 교집합
print(a - b)
print(a | b)

{3, 4}
{1, 2}
{1, 2, 3, 4, 5, 6}

In [62]:
a.add(7)
print(a)

{1, 2, 3, 4, 7}

In [63]:
a.update([3, 4, 5, 6, 7, 8])
print(a)

{1, 2, 3, 4, 5, 6, 7, 8}

In [64]:
a = [1, 2, 3]
b = a[:]
b = a.copy()

In [65]:
a, b = [1, 2]
print(a)
print(b)

1
2