In [1]:
print("Hello world!")

Hello world!

In [2]:
a = 123
b = -345.0
c = 5

print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'int'>

In [3]:
a = 5
b = 2
a * b

10

In [4]:
a ** b

25

In [5]:
a % b

1

In [6]:
a // b

2

In [7]:
kimchi = "My favorite food is kimchi."
py = 'I\'m happy because of python~~~~~~~~~~~~~'

In [8]:
print(py)

I'm happy because of python~~~~~~~~~~~~~

In [9]:
a = "Python"
b = " is very easy."
a + b

'Python is very easy.'

In [10]:
a * 2

'PythonPython'

In [11]:
a = "=" * 50
a

'=================================================='

In [12]:
b = "My Program"
print(a + '\n' + b + '\n' + a)

==================================================
My Program
==================================================

In [13]:
# 문자열 인덱싱

In [14]:
a = "Python is very easy."
a[0]

'P'

In [15]:
a[7]

'i'

In [16]:
b = a[10] + a[11] + a[12] + a[14]
b

'ver '

In [18]:
b = a[10:15]
b

'very '

In [19]:
b = a[10:]
b

'very easy.'

In [20]:
a = "Pithon"

In [22]:
a[:1] + "y" + a[2:] # 문자열의 일부 요소를 바꿀 수 없음

'Python'

In [25]:
number = 2
banana = "I eat %d banana." % number

In [26]:
banana

'I eat 2 banana.'

In [27]:
number = 12
day = "two"

"I ate %d banana %s day" % (number, day)

'I ate 12 banana two day'

In [28]:
"aksdfsdf a %s" % 3.2

'aksdfsdf a 3.2'

In [30]:
"Error is %d%%." % 0

'Error is 0%.'

In [31]:
"Error is %d%." % 100

ValueError: incomplete format

In [32]:
"%10s" % "apple" # 숫자 -> 여백

'     apple'

In [33]:
"%-10s" % "apple"

'apple     '

In [38]:
"I eat {} banana {}".format(100, "yesterday")

'I eat 100 banana yesterday'

In [40]:
"I {} banana {} dw".format(number, day)

'I 12 banana two dw'

In [41]:
"{0:<10}".format("hi") # 왼쪽 정렬

'hi        '

In [42]:
"{0:>10}".format("hi") # 오른쪽 정렬

'        hi'

In [43]:
"{0:^10}".format("hi") # 가운데 정렬

'    hi    '

In [44]:
# f를 사용한 문자열 포매팅

In [45]:
number = 12
day = "two"
f"I ate {number} banana {day} days"

'I ate 12 banana two days'